alias au='sudo apt-get update && sudo apt-get -y upgrade && sudo apt-get -y dist-upgrade -y && sudo apt-get autoremove -y'
alias update_gpg='gpg-connect-agent updatestartuptty /bye >/dev/null'
alias dotfiles="$(which git) --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"
alias reset="reset && fn=~/.$(basename ${SHELL})rc && [[ -f ${fn} ]] && source ${fn}"
